caption 
{
    background-color:#DCA806;
    font-family:"Lucida Sans", Veranda, Arial, Sans-serif;
    font:1.2em;
    font-weight:bold;
    padding:0.75em;
}
thead, tfoot
{
    background-color:#CACACA;
}
th, td
{
    font-family:"Lucida Sans", Veranda, Arial, Sans-serif;
    font-size:1em;
    padding:0.50em;
    border:solid 0.5px white;
}